@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: Cascadia;
  src: url("fonts/Cascadia.ttf");
}
@font-face {
  font-family: Inter;
  src: url("fonts/Inter.ttf");
}
* {
  font-family: Inter;
}
body {
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #fbbd23;
  border-radius: 7px;
}
.menu::-webkit-scrollbar-thumb {
  background: hsl(var(--bc) / var(--tw-text-opacity, 0.7));
  border-radius: 7px;
}
.menu::-webkit-scrollbar-thumb:hover {
  background: hsl(var(--bc) / var(--tw-text-opacity, 1));
  border-radius: 7px;
}
.menu::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
input[type="color"] {
  appearance: none;
  background-color: transparent;
  cursor: pointer;
  height: 3.45rem;
  margin-top: -3px;
}
input[type="color"]::-webkit-color-swatch {
  border-radius: var(--rounded-btn, 0.5rem);
  border: none;
}
.tippy-box[data-theme~="dark"][data-placement^="right"] {
  background-color: hsl(var(--n));
  color: hsl(var(--bc) / var(--tw-text-opacity, 1));
}
.tippy-box[data-theme~="dark"][data-placement^="right"] > .tippy-arrow::before {
  border-right-color: hsl(var(--n));
  transform: scale(0.5);
}
