@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: Cascadia;
  src: url("fonts/Cascadia.ttf");
}
@font-face {
  font-family: Inter;
  src: url("fonts/Inter.ttf");
}
* {
  font-family: Inter;
}
body {
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #fbbd23;
  border-radius: 7px;
}
input[type="color"] {
  appearance: none;
  background-color: transparent;
  cursor: pointer;
  height: 3.45rem;
  margin-top: -3px;
}
input[type="color"]::-webkit-color-swatch {
  border-radius: var(--rounded-btn, 0.5rem);
  border: none;
}
